.totalHeader{
    height: 11rem;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(30,30,30);
}

.logo{
    margin-top: 6rem;
    width: 7rem;
}

.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
    font-size: large;
}

.desktopMenuListItem:hover {
    color: #5EFC8D;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #5EFC8D;
}

.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 .25rem;
    border-radius: 2rem;
    cursor: pointer;
    
}

.desktopMenuImg {
    object-fit: cover;
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem;

}

.active {
    color: #5EFC8D;
    border-bottom: 3px solid #5EFC8D;
    padding-bottom: 0.5rem;
}

.burgerMenu{
    height: 2.5rem;
    display: none;
    object-fit: cover;

}

.mobileMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background:rgb(40,40,40);
    border-radius: 1rem;

}

.mobileMenuItem{
    color:white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30,30,30);

}

@media screen and (max-width:720px) {
    .burgerMenu{
        display:flex;

    }
    .desktopMenu {
        display:none;
    }
    .desktopMenuBtn{
        display:none;
    }
}
