.logo{
    margin-top: 4rem;
    width: 8rem;
}

.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
    font-size: large;
}

.desktopMenuListItem:hover {
    color: #5EFC8D;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #5EFC8D;
}

.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 .25rem;
    border-radius: 2rem;
    
}

.desktopMenuImg {
    object-fit: cover;
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem;

}