
#projects {
    overflow: hidden;
    width: 90vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}

.projectTitle{
    font-size: 3rem;
    font-weight:600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.projectSub {
    font-weight: 300;
    max-width: 50rem;
    padding: 0 2rem;
    margin-bottom: 1.5rem;

}

.singleProjectCard{
    display: flex;
    flex-direction: column;
    width: 42vw;
    max-width: 31rem;
    gap: 0.5rem;
    
}

.projectImg{
    object-fit: cover;
    height: 10rem;
    box-shadow: rgba(94, 252, 141, 0.4) 5px 5px, rgba(94, 252, 141, 0.3) 10px 10px, rgba(94, 252, 141, 0.2) 15px 15px, rgba(94, 252, 141, 0.1) 20px 20px, rgba(94, 252, 141, 0.05) 25px 25px;
    margin-bottom: 1.25rem;

}

#projectDetails{
    display: flex;
    gap: 1rem;
    margin-left:1.5rem;

}

.linkIcon{
    height:2rem;
    display:flex;
    gap: 0.5rem;
}

.projectDesc{
    font-size: x-large;
    font-weight: 500;
    margin-left:1.5rem;
    hyphens: auto;
}

.projectTech{
    margin-left:1.5rem;
    hyphens: auto;
    font-weight: 200;

}

#projectCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    gap: 10px; 

}

.heroProjectCard{
    
    display:flex;
    flex-direction: column;
    width: 90vw;
    max-width: 65rem;
    text-align: left;
    padding: 10px;
    margin: 0 auto;
}
 .heroProjectImg {
    
    
    box-shadow: rgba(94, 252, 141, 0.4) 5px 5px, rgba(94, 252, 141, 0.3) 10px 10px, rgba(94, 252, 141, 0.2) 15px 15px, rgba(94, 252, 141, 0.1) 20px 20px, rgba(94, 252, 141, 0.05) 25px 25px;
    margin-bottom: 1.25rem;
 }

.singleProjectCard{
    text-align: left;
    padding: 10px;
    margin: 5px;
}

.projectImg{
    border-radius: 0.5rem;
    height: 15rem;

}

@media screen and (max-width:750px) {
    .singleProjectCard{
        width:90vw
        
    }
}