#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}

.skillTitle{
    font-size: 3rem;
    font-weight:600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc {
    font-weight: 300;
    max-width: 50rem;
    padding: 0 2rem;
    margin-bottom: 1.5rem;

}

.skillTagText{
    font-size: 1.2rem;
}
#skillTags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 0 auto;
    gap: 10px; 
    
}

.tagElements{
    flex: 0 0 calc(16.666% - 10px);
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.langIcon {
    height: 100px;
}

#express{
    fill: white;
}
#handlebars{
    fill: rgb(106, 101, 210);
}


