#skillTags{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    width: 90vw;
    margin: 0 auto;
    gap: 10px; 
}

.tagElements{
    flex: 0 0 calc(16.666% - 10px);
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.langIcon {
    height: 100px;
}

#express{
    fill: white;
}
#handlebars{
    fill: white;
}


