#intro {
    height: calc(100vh - 8rem);
    width: 100vw;
    max-width: 75rem;
    margin: 8rem auto 0 auto;
    overflow: hidden;
    position: relative;
}

.hero {
    position: absolute;
    z-index: -1;
    top: -4rem;
    right: 0;
    height: 75vh;
    width: 40vw;

}

.introContent {
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hello{
    font-size: 1.75rem;
    font-weight: 300;
}

.introName {
    color: #5EFC8D;

}

.introPara {
    font-size: medium;
    font-weight: 300;
    
}

.btn {
    background-color: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none; 
    border-radius: 2rem; 
    display:flex;
    align-items: center;

}

.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1.25rem;
    padding-bottom: .1rem;

}


